:root {
  --md-primary-fg-color: #007acc;
  --md-accent-fg-color: #3794ff;
}

.md-typeset code {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.md-content {
  display: flex;
  justify-content: center;
}

.md-content__inner {
  max-width: 800px;
  text-align: center;
}

